/* Set background image for the body */
body {
  background-image: url("/assesst/marvelbg2.jpg");
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Center align text */
#text {
  margin: auto;
}

/* Set margin, background position, and background size for cards */
.card {
  margin: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style for favorite images */
.favimages {
  height: 450px;
  margin: 20px;
  border-radius: 5px;

  background: white;
}

/* Set height, width, margin, and border radius for images */
.imageclass {
  height: 350px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
